body {
    background-color:beige;
}
h1 {
    color: cornflowerblue;
    font-family: 'Courier New', Courier, monospace;
}
a {
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}